:root {
  --taustavari: black;
}

body {
  background-color: black;
}
  
.stop1 {
  stop-color: black; 
}

.stop2 {
  stop-color: purple;
}

.stop3 {
  stop-color: yellow;
}


.neliot {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-name: slide;
}

.pingviinit {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-name: pingviiniliike;
}

@keyframes leveysmuokkaus {
  from {
    width: 1%;
  }
  50% {
    width: 5%;
  }
  to {
    width: 1%;
  }
}

@keyframes slide { 
  from {
    transform: translate(0%, 0%); 
  }
  to {
    /* HUOM: käytössä olevaa gradienttia voi vaihtaa näin!     fill: url(#Gradient1); */
    transform: translate(25%, 0%);
  }
}

@keyframes varimuutos {
  from {
    fill: url(#Gradient1);
  }
  to {
    fill: url(#Gradient2);
  }
}

/* haluttu rata: vasenylä-keski-vasenala-keski-oikeaylä-keski-oikeaala-keski-oikeaylä-keski-vasenala-keski-vasenylä */
@keyframes pingviiniliike {
  from {
    transform: translate(0%, 0%); 
  }
  8.3% {
    transform: translate(calc(50% - 150px), calc(50% - 150px)); 
  }
  16.6% {
    transform: translate(calc(0%), calc(100% - 150px));
  }
  25% {
    transform: translate(calc(50% - 150px), calc(50% - 150px)); 
  }
  33.3% {
    transform: translate(calc(100% - 150px), calc(0%));
  }
  41.6% {
    transform: translate(calc(50% - 150px), calc(50% - 150px)); 
  }
  50% {
    transform: translate(calc(100% - 150px), calc(100% - 150px));
  }
  58.3% {
    transform: translate(calc(50% - 150px), calc(50% - 150px)); 
  }
  66.6% {
    transform: translate(calc(100% - 150px), calc(0%));
  }
  75% {
    transform: translate(calc(50% - 150px), calc(50% - 150px)); 
  }
  83.3% {
    transform: translate(calc(0%), calc(100% - 150px));
  }
  91.6% {
    transform: translate(calc(50% - 150px), calc(50% - 150px)); 
  }
  to {
    transform: translate(calc(0%), calc(0%));
  }
}