:root {
  --taustavari: black;
}

body {
  background-color: black;
  margin: 0;
}
  
.stop1 {
  stop-color: black; 
}

.stop2 {
  stop-color: purple;
}

.stop3 {
  stop-color: yellow;
}

input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  margin: 0;
}

.neliot {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-name: slide;
}

.pingviinit {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-name: pingviiniliike;
}

#polloalusta {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: polloliike;
}

#tokaPolloAlusta {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: polloliikekaksi;
}

@keyframes polloliike {
  from {
    transform: translate(0%, 0%); 
  }
  to {
    transform: translate(calc(100vw - 564px), 0%);
  }
}

@keyframes polloliikekaksi {
  from {
    transform: translate(0%, 0%); 
  }
  to {
    transform: translate(calc(564px - 100vw), 0%);
  }
}

@keyframes slide { 
  from {
    transform: translate(0%, 0%); 
  }
  to {
    transform: translate(25vw, 0%);
  }
}

@keyframes varimuutos {
  from {
    fill: url(#Gradient1);
  }
  to {
    fill: url(#Gradient2);
  }
}

/* haluttu rata: vasenylä-keski-vasenala-keski-oikeaylä-keski-oikeaala-keski-oikeaylä-keski-vasenala-keski-vasenylä */
@keyframes pingviiniliike {
  from {
    transform: translate(0%, 0%); 
  }
  16.6% {
    transform: translate(calc(50vw - 150px), calc(50vh - 150px)); 
  }
  33.3% {
    transform: translate(calc(0%), calc(100vh - 150px));
  }
  50% {
    transform: translate(calc(50vw - 150px), calc(50vh - 150px)); 
  }
  66.6% {
    transform: translate(calc(100vw - 150px), calc(0%));
  }
  83.3% {
    transform: translate(calc(50vw - 150px), calc(50vh - 150px)); 
  }
  to {
    transform: translate(calc(100vw - 150px), calc(100vh - 150px));
  }
}