:root {
  --taustavari: black;
}
  
.stop1 {
  stop-color: black; 
}

.stop2 {
  stop-color: purple;
  animation-duration: 10s;
  animation-timing-function: steps(2,end);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-name: varivaihto;
}

.stop3 {
  stop-color: black; 
}

@keyframes varivaihto {
  from {
    stop-color: purple;
  }
  to {
    stop-color: yellow;
  }
}

.liikkuvatpalkit {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: slide;
}

@keyframes slide {
  from {
    width: 1%;
    transform: translate(10%, 10%); 
  }
  50% {
    width: 5%;
    transform: translate(22.5%, 10%); 
  }
  to {
    width: 1%;
    transform: translate(35%, 10%);
  }
}